html,
body {
  margin: 0;
  font-size: 100%;
  font-family: "Merriweather Sans", sans-serif;
  background-image: url(https://www.radioactiva.cl/wp-content/uploads/2019/12/dead.jpg);
  background-size: cover;
}
i{
    font-size: 1.6rem;
    cursor:pointer;
    transition: all 300ms;
}
i:hover{
    transform: scale(1.2);
    
}
td.icon{
    text-align:center;
}
.opciones a{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #fff;
    background-color: rgba(38, 50, 56, 0.6);
    cursor: pointer;
}
.opciones a:hover{
    color:#fff;
}
.mb-4{
    margin-bottom: 40px;
}
