html,
body {
  margin: 0;
  font-size: 100%;
  font-family: "Merriweather Sans", sans-serif;
  background-image: url(https://www.radioactiva.cl/wp-content/uploads/2019/12/dead.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}

body a {
  text-decoration: none;
  transition: 0.5s all;
  color: #fff;
  width: 33%;
  padding: 20px 30px;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  background: #d32f2f;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  background: #b71c1c;
  transition: all 0.3s;
}
a:nth-child(2) {
  background: #00796b;
}
a:nth-child(2):hover {
  background: #004d40;
  transition: all 0.3s;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  padding: 20px;
  justify-content: space-around;
  background: rgba(38, 50, 56, 0.6);
}

.integrantes {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(38, 50, 56, 0.6);
}
ul li {
  color: rgb(218, 218, 218);
  line-height: 2;
  font-size: 1.5rem;
}
